<label >Server Name: </label>
<input
        type="text"
        class="form-control"
        (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>      <!-- Property Binding & Event Binding -->

<p>{{ serverCreationStatus }}</p>
<p>{{ allowNewServer }}</p>                                 <!-- String Interpolation version -->
<!-- <p [innerText]="allowNewServer"></p> -->               <!-- Property Binding version -->

<app-server></app-server>
<app-server></app-server>
